# Predicting Soccer Match Results - Data Cleaning
In this notebook, I take the raw data I obtained and trim it down to the leagues I need. There is some additional work in cleaning the data done, and finally, saving the new datasets to be used in the main notebook.

In [1]:
# import necessary libraries 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import seaborn as sns
sns.set(style='darkgrid')
import os

Below I'm going to examine and remove the data for leagues I will not be modeling.

In [2]:
SPIdata = pd.read_csv('Data\soccer-spi\spi_global_rankings.csv')
SPIdata.head()

,rank,prev_rank,name,league,off,def,spi
0,1,1,Bayern Munich,German Bundesliga,3.51,0.43,93.96
1,2,2,Manchester City,Barclays Premier League,2.86,0.24,92.84
2,3,3,Barcelona,Spanish Primera Division,3.01,0.50,90.16
3,4,4,Liverpool,Barclays Premier League,2.79,0.46,88.95
4,5,5,Paris Saint-Germain,French Ligue 1,2.89,0.52,88.85

In [3]:
SPIdataInt = pd.read_csv('Data\soccer-spi\spi_global_rankings_intl.csv')
SPIdataInt.head()

   rank     name    confed   off   def    spi
0     1    Spain      UEFA  3.54  0.39  93.99
1     2   Brazil  CONMEBOL  3.04  0.32  92.22
2     3  Belgium      UEFA  2.96  0.58  87.71
3     4   France      UEFA  2.90  0.55  87.64
4     5  England      UEFA  2.70  0.45  87.44

I can ignore this entire dataset, I will not be handling International squads with this model.

In [4]:
SPIdataMatches = pd.read_csv('Data\soccer-spi\spi_matches.csv')
SPIdataMatches.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,0.2767,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,0.3608,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,0.2487,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,0.2699,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,0.3157,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
SPIdataMatchLatest = pd.read_csv('Data\soccer-spi\spi_matches_latest.csv')
SPIdataMatchLatest.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2019,2019-03-01,1979,Chinese Super League,Shandong Luneng,Guizhou Renhe,48.22,37.83,0.5755,0.1740,...,45.9,22.1,1.0,0.0,1.39,0.26,2.05,0.54,1.05,0.00
1,2019,2019-03-01,1979,Chinese Super League,Shanghai Greenland,Shanghai SIPG,39.81,60.08,0.2387,0.5203,...,25.6,63.4,0.0,4.0,0.57,2.76,0.80,1.50,0.00,3.26
2,2019,2019-03-01,1979,Chinese Super League,Guangzhou Evergrande,Tianjin Quanujian,65.59,39.99,0.7832,0.0673,...,77.1,28.8,3.0,0.0,0.49,0.45,1.05,0.75,3.15,0.00
3,2019,2019-03-01,1979,Chinese Super League,Wuhan Zall,Beijing Guoan,32.25,54.82,0.2276,0.5226,...,35.8,58.9,0.0,1.0,1.12,0.97,1.51,0.94,0.00,1.05
4,2019,2019-03-01,1979,Chinese Super League,Chongqing Lifan,Guangzhou RF,38.24,40.45,0.4403,0.2932,...,26.2,21.3,2.0,2.0,2.77,3.17,1.05,2.08,2.10,2.10

### SPI Dataset

In [6]:
SPIdata.head()

,rank,prev_rank,name,league,off,def,spi
0,1,1,Bayern Munich,German Bundesliga,3.51,0.43,93.96
1,2,2,Manchester City,Barclays Premier League,2.86,0.24,92.84
2,3,3,Barcelona,Spanish Primera Division,3.01,0.50,90.16
3,4,4,Liverpool,Barclays Premier League,2.79,0.46,88.95
4,5,5,Paris Saint-Germain,French Ligue 1,2.89,0.52,88.85

In [7]:
# looking for null values
SPIdata.isna().any()

rank         False
prev_rank    False
name         False
league       False
off          False
def          False
spi          False
dtype: bool

In [8]:
SPIdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 7 columns):
rank         637 non-null int64
prev_rank    637 non-null int64
name         637 non-null object
league       637 non-null object
off          637 non-null float64
def          637 non-null float64
spi          637 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 35.0+ KB

In [9]:
SPIdata.league.value_counts()

United Soccer League                        35
Major League Soccer                         26
Argentina Primera Division                  24
English League Two                          24
English League One                          24
English League Championship                 24
Spanish Segunda Division                    22
Turkish Turkcell Super Lig                  21
French Ligue 1                              20
Italy Serie B                               20
Brasileiro Série A                          20
French Ligue 2                              20
Barclays Premier League                     20
Italy Serie A                               20
Spanish Primera Division                    20
German Bundesliga                           18
Japanese J League                           18
German 2. Bundesliga                        18
Portuguese Liga                             18
Belgian Jupiler League                      18
Dutch Eredivisie                            18
Mexican Primera Division Torneo Apertura    18
Chinese Super League                        16
South African ABSA Premier League           16
Russian Premier Liga                        16
Swedish Allsvenskan                         16
Norwegian Tippeligaen                       16
UEFA Europa League                          16
Greek Super League                          14
Austrian T-Mobile Bundesliga                12
Danish SAS-Ligaen                           12
Scottish Premiership                        12
Australian A-League                         11
Swiss Raiffeisen Super League               10
UEFA Champions League                        3
Mexican Primera Division Torneo Clausura     1
Name: league, dtype: int64

In [10]:
leagues_to_keep = ['Barclays Premier League','Spanish Primera Division','German Bundesliga',
                   'UEFA Champions League','Spanish Primera Division', 'French Ligue 1', 'Italy Serie A']


SPI_data = SPIdata[SPIdata['league'].isin(leagues_to_keep)]
SPI_data.head()

,rank,prev_rank,name,league,off,def,spi
0,1,1,Bayern Munich,German Bundesliga,3.51,0.43,93.96
1,2,2,Manchester City,Barclays Premier League,2.86,0.24,92.84
2,3,3,Barcelona,Spanish Primera Division,3.01,0.50,90.16
3,4,4,Liverpool,Barclays Premier League,2.79,0.46,88.95
4,5,5,Paris Saint-Germain,French Ligue 1,2.89,0.52,88.85

In [11]:
SPI_data.league.value_counts()

Barclays Premier League     20
French Ligue 1              20
Italy Serie A               20
Spanish Primera Division    20
German Bundesliga           18
UEFA Champions League        3
Name: league, dtype: int64

In [12]:
SPI_data[SPI_data['league'] == 'UEFA Champions League']

,rank,prev_rank,name,league,off,def,spi
41,42,42,Shakhtar Donetsk,UEFA Champions League,2.31,1.02,72.48
68,69,69,Dynamo Kiev,UEFA Champions League,1.98,1.04,66.35
156,157,157,Ferencvaros,UEFA Champions League,1.64,1.28,53.90

Now that the SPI_data is pared down to the main 5 leagues and the UCL debutantes, I'll move to preparing the match data currently found in the SPIdataMatches dataframe. 

### SPI match data

In [13]:
SPIdataMatches.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,0.2767,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,0.3608,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,0.2487,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,0.2699,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,0.3157,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
SPIdataMatches.league.value_counts()

English League Championship                 2223
French Ligue 1                              1900
Spanish Primera Division                    1900
Italy Serie A                               1900
Barclays Premier League                     1900
Spanish Segunda Division                    1865
Italy Serie B                               1594
English League Two                          1554
Major League Soccer                         1535
German Bundesliga                           1530
Brasileiro Série A                          1520
French Ligue 2                              1520
English League One                          1514
United Soccer League                        1497
Turkish Turkcell Super Lig                  1338
Portuguese Liga                             1224
Dutch Eredivisie                            1224
German 2. Bundesliga                        1224
Argentina Primera Division                   979
Norwegian Tippeligaen                        960
Russian Premier Liga                         960
Swedish Allsvenskan                          960
Scottish Premiership                         852
Belgian Jupiler League                       816
Japanese J League                            759
UEFA Europa League                           751
Austrian T-Mobile Bundesliga                 702
Mexican Primera Division Torneo Apertura     676
Mexican Primera Division Torneo Clausura     654
Swiss Raiffeisen Super League                630
Danish SAS-Ligaen                            618
UEFA Champions League                        590
South African ABSA Premier League            480
Greek Super League                           480
FA Women's Super League                      469
National Women's Soccer League               450
Chinese Super League                         369
Australian A-League                          288
NWSL Challenge Cup                            23
Name: league, dtype: int64

In [15]:
SPI_match_data = SPIdataMatches[SPIdataMatches['league'].isin(leagues_to_keep)]
SPI_match_data.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
10,2016,2016-08-12,1843,French Ligue 1,Bastia,Paris Saint-Germain,51.16,85.68,0.0463,0.8380,...,32.4,67.7,0.0,1.0,0.97,0.63,0.43,0.45,0.00,1.05
11,2016,2016-08-12,1843,French Ligue 1,AS Monaco,Guingamp,68.85,56.48,0.5714,0.1669,...,53.7,22.9,2.0,2.0,2.45,0.77,1.75,0.42,2.10,2.10
12,2016,2016-08-13,2411,Barclays Premier League,Hull City,Leicester City,53.57,66.81,0.3459,0.3621,...,38.1,22.2,2.0,1.0,0.85,2.77,0.17,1.25,2.10,1.05
13,2016,2016-08-13,2411,Barclays Premier League,Crystal Palace,West Bromwich Albion,55.19,58.66,0.4214,0.2939,...,43.6,34.6,0.0,1.0,1.11,0.68,0.84,1.60,0.00,1.05
14,2016,2016-08-13,2411,Barclays Premier League,Everton,Tottenham Hotspur,68.02,73.25,0.3910,0.3401,...,31.9,48.0,1.0,1.0,0.73,1.11,0.88,1.81,1.05,1.05

In [16]:
SPI_match_data.league.value_counts()

Barclays Premier League     1900
French Ligue 1              1900
Italy Serie A               1900
Spanish Primera Division    1900
German Bundesliga           1530
UEFA Champions League        590
Name: league, dtype: int64

### SPI latest match data

In [17]:
SPIdataMatchLatest

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2019,2019-03-01,1979,Chinese Super League,Shandong Luneng,Guizhou Renhe,48.22,37.83,0.5755,0.1740,...,45.9,22.1,1.0,0.0,1.39,0.26,2.05,0.54,1.05,0.00
1,2019,2019-03-01,1979,Chinese Super League,Shanghai Greenland,Shanghai SIPG,39.81,60.08,0.2387,0.5203,...,25.6,63.4,0.0,4.0,0.57,2.76,0.80,1.50,0.00,3.26
2,2019,2019-03-01,1979,Chinese Super League,Guangzhou Evergrande,Tianjin Quanujian,65.59,39.99,0.7832,0.0673,...,77.1,28.8,3.0,0.0,0.49,0.45,1.05,0.75,3.15,0.00
3,2019,2019-03-01,1979,Chinese Super League,Wuhan Zall,Beijing Guoan,32.25,54.82,0.2276,0.5226,...,35.8,58.9,0.0,1.0,1.12,0.97,1.51,0.94,0.00,1.05
4,2019,2019-03-01,1979,Chinese Super League,Chongqing Lifan,Guangzhou RF,38.24,40.45,0.4403,0.2932,...,26.2,21.3,2.0,2.0,2.77,3.17,1.05,2.08,2.10,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10863,2020,2021-05-30,1871,Spanish Segunda Division,Málaga,Castellon,32.34,27.63,0.4749,0.2226,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10864,2020,2021-05-30,1871,Spanish Segunda Division,Mirandes,CD Sabadell,32.48,27.64,0.4739,0.2341,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10865,2020,2021-05-30,1871,Spanish Segunda Division,AD Alcorcon,Espanyol,25.76,61.97,0.1171,0.6412,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10866,2020,2021-05-30,1871,Spanish Segunda Division,Logrones,Las Palmas,32.13,35.66,0.3825,0.3257,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10867,2020,2021-05-30,1871,Spanish Segunda Division,FC Cartagena,Girona FC,33.69,36.27,0.3795,0.3203,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
SPIdataMatchLatest.league.value_counts()

English League Two                          552
English League One                          552
English League Championship                 552
Spanish Segunda Division                    462
Turkish Turkcell Super Lig                  420
Italy Serie B                               380
Brasileiro Série A                          380
Italy Serie A                               380
French Ligue 1                              380
Spanish Primera Division                    380
French Ligue 2                              380
Barclays Premier League                     380
Major League Soccer                         315
German Bundesliga                           306
Portuguese Liga                             306
Dutch Eredivisie                            306
German 2. Bundesliga                        306
Belgian Jupiler League                      306
Japanese J League                           306
United Soccer League                        290
Argentina Primera Division                  276
Chinese Super League                        240
Greek Super League                          240
South African ABSA Premier League           240
Russian Premier Liga                        240
Norwegian Tippeligaen                       240
Swedish Allsvenskan                         240
Scottish Premiership                        198
Mexican Primera Division Torneo Apertura    157
Mexican Primera Division Torneo Clausura    153
Australian A-League                         148
UEFA Europa League                          144
Austrian T-Mobile Bundesliga                132
Danish SAS-Ligaen                           132
FA Women's Super League                     132
National Women's Soccer League              108
UEFA Champions League                        96
Swiss Raiffeisen Super League                90
NWSL Challenge Cup                           23
Name: league, dtype: int64

In [19]:
SPI_match_data_latest = SPIdataMatchLatest[SPIdataMatchLatest['league'].isin(leagues_to_keep)]
SPI_match_data_latest

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
2077,2020,2020-08-21,1843,French Ligue 1,Bordeaux,Nantes,59.92,59.31,0.4538,0.2626,...,NaN,NaN,0.0,0.0,0.60,0.19,0.36,0.60,0.00,0.00
2098,2020,2020-08-22,1843,French Ligue 1,Dijon FCO,Angers,54.91,59.50,0.4038,0.3013,...,NaN,NaN,0.0,1.0,0.89,1.74,0.72,1.54,0.00,1.05
2120,2020,2020-08-22,1843,French Ligue 1,Lille,Stade Rennes,70.39,65.18,0.5088,0.2242,...,NaN,NaN,1.0,1.0,0.37,1.67,0.18,1.04,0.84,1.05
2153,2020,2020-08-23,1843,French Ligue 1,AS Monaco,Reims,67.42,58.47,0.5583,0.1940,...,NaN,NaN,2.0,2.0,2.67,1.75,2.66,0.62,2.10,2.10
2157,2020,2020-08-23,1843,French Ligue 1,Lorient,Strasbourg,52.87,60.44,0.3774,0.3471,...,NaN,NaN,3.0,1.0,3.09,0.34,1.11,0.53,2.72,1.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10849,2020,2021-05-23,1854,Italy Serie A,Internazionale,Udinese,84.87,63.23,0.6914,0.1134,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10850,2020,2021-05-23,1854,Italy Serie A,Sampdoria,Parma,61.63,55.90,0.4757,0.2683,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10851,2020,2021-05-23,1854,Italy Serie A,Crotone,Fiorentina,52.51,66.84,0.2702,0.4578,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10852,2020,2021-05-23,1854,Italy Serie A,Cagliari,Genoa,57.00,54.17,0.4488,0.2821,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10855,2020,2021-05-23,1869,Spanish Primera Division,Osasuna,Real Sociedad,69.50,83.36,0.2641,0.4537,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
SPI_match_data_latest.league.value_counts()

Spanish Primera Division    380
French Ligue 1              380
Italy Serie A               380
Barclays Premier League     380
German Bundesliga           306
UEFA Champions League        96
Name: league, dtype: int64

Now that the SPI_match_data and SPI_match_data_latest dataframes are pared down to the 6 leagues I'm focusing on, I can now concatenate them into a larger match data DF.

In [21]:
SPI_matches_all = pd.concat([SPI_match_data, SPI_match_data_latest], axis=1)
SPI_matches_all.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
10,2016.0,2016-08-12,1843.0,French Ligue 1,Bastia,Paris Saint-Germain,51.16,85.68,0.0463,0.8380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2016.0,2016-08-12,1843.0,French Ligue 1,AS Monaco,Guingamp,68.85,56.48,0.5714,0.1669,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2016.0,2016-08-13,2411.0,Barclays Premier League,Hull City,Leicester City,53.57,66.81,0.3459,0.3621,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2016.0,2016-08-13,2411.0,Barclays Premier League,Crystal Palace,West Bromwich Albion,55.19,58.66,0.4214,0.2939,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2016.0,2016-08-13,2411.0,Barclays Premier League,Everton,Tottenham Hotspur,68.02,73.25,0.3910,0.3401,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
SPI_matches_all.shape

(11201, 46)

Currently, the datasets are stored in the following way:  
 - SPI_matches_all : contains match data for 11,201 matches.  
 - SPI_data : contains offensive, defensive, and team SPI coefficients for the top clubs in the top leagues.  
 
### Mohammad Ghahramani’s Match datasets
Next, I'm going to clean up and pare down the dataset of 350,000 matches, found [here](https://data.world/analystmasters/earn-your-6-figure-prize-by-soccer-betting).

In [31]:
#file_name = 'Data\MoGhahData\{}.csv'
#
#df_list = []
#dataset_list = ['country6', 'dollars6', 'fresults6', 'FT_HT6',
#                'names6', 'odds6', 'ranks6', 'results6', 'winrate6', 'wins6']
#
#for i in dataset_list:
#    df_list.append(pd.read_csv(file_name.format(i)))
#                   
#MGMatch_data_all = pd.concat(df_list, sort=True)
#
#MGMatch_data_all.head()

In [ ]:
MGMatch_data = pd.read_csv('Data\MoGhahData\country6.csv')